<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>MY DEV SKILL</title>
</head>
<body>
    <h3>
       SKILL: <%= list.skill %>
    </h3>
    <h3>SKILL LEVEL: "<div><%= list.level %></div>"</h3>
    <a href="/skills">BACK TO LIST OF SKILLS</a>
</body>
</html>