<%- include('../partials/header') %>

    <h3>
       SKILL: <%= list.skill %>
    </h3>
    <h3>SKILL LEVEL: "<div><%= list.level %></div>"</h3>
    <a href="/skills">BACK TO LIST OF SKILLS</a>
</body>
</html>