body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(132,132,134,1) 35%, rgba(47,47,47,1) 100%);
  background-size: auto;
}
button {
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  background-color: crimson;
  color: burlywood;
  font-style: bold;
}
a {
  color: aqua;
  text-decoration: none;
}
li {
  margin: 15px;
  list-style: none;
}
.num {
  text-decoration: none;
  color: darkcyan;
}
.level {
  color: skyblue;
}
div {
  display: inline;
  text-decoration: underline;
}
